[user]
	email = tibor.pilz@sevenval.com
	name = Tibor Pilz
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
  editor = vim

[merge]
	tool = diffconflicts
[mergetool]
  keepBackup = false
[mergetool "diffconflicts"]
  cmd = vim -c DiffConflicts "$MERGED" "$BASE" "$LOCAL" "$REMOTE"
  trustExitCode = true
[mergetool "fugitive"]
	cmd = vim -f -c "Gvdiffsplit" "$MERGED"
  trustExitCode = true
