#urlbar {
  background: none !important;
  border-radius: none;
  border: none !important;
}

.tabbrowser-tab[fadein]:not([pinned]) {
  width: -moz-available;
  max-width: none !important;
}

.tab-background {
  border-top: none !important;
  transition: all .5s ease;
}