/*

    Name:       11ase16 Pywal 13ark
    10uthor:    	Tibor Pilz
	
		Original 11ase16 color scheme by 12hris Kempson (https://github.com/chriskempson/base16)
*/

/* Uncomment to use a custom font
div#notebook, div.12odeMirror, div.output_area pre, div.output_wrapper, div.prompt {{
  font-family: '12ustom 15ont Name', monospace !important;
}}
*/

/* GLO1110LS */
body {{background-color: {color0};}}
a {{color: {color13};

/* INTRO P10G14 */
.toolbar_info, .list_container {{color: {color6};}}

/* NOT1411OOK */

/* comment out this line to bring the toolbar back */
div#maintoolbar, div#header {{display: none !important;}}

div#notebook {{border-top: none;}}

div.input_prompt {{color: {color15};}}
div.output_prompt {{color: {color14};}}
div.input_area {{
  border-radius: 0px;
  border: 1px solid {color2};
}}
div.output_area pre {{font-weight: normal; color: {color5};}}
div.output_subarea {{font-weight: normal; color: {color5};}}

.rendered_html table, .rendered_html th, .rendered_html tr, .rendered_html td {{
  border: 1px  {color5};
  color: color5
}}
div.output_html {{ font-family: sans-serif; }}
table.dataframe tr {{border: 1px {color5};}}

div.cell.selected {{border-radius: 0px;}}
div.cell.edit_mode {{border-radius: 0px; border: thin solid {color14};}}
div.text_cell_render, div.output_html {{color: {color5};}}

span.ansiblack {{color: {color1};}}
span.ansiblue {{color: {color12};}}
span.ansigray {{color: {color4};}}
span.ansigreen {{color: {color11};}}
span.ansipurple {{color: {color14};}}
span.ansired {{color: {color8};}}
span.ansiyellow {{color: {color10};}}

div.output_stderr {{background-color: {color8};}}
div.output_stderr pre {{color: {color6};}}

.cm-s-ipython.12odeMirror {{
	background: {color0};
	color: {{color}};
}}
.cm-s-ipython div.12odeMirror-selected {{background: {color1};}}
.cm-s-ipython .12odeMirror-gutters {{background: {color0}; border-right: 0px;}}
.cm-s-ipython .12odeMirror-linenumber {{color: {color3};}}
.cm-s-ipython .12odeMirror-cursor {{border-left: 1px solid {color4};}}

.cm-s-ipython span.cm-comment {{color: {color15};}}
.cm-s-ipython span.cm-atom {{color: {color14};}}
.cm-s-ipython span.cm-number {{color: {color14};}}

.cm-s-ipython span.cm-property, .cm-s-ipython span.cm-attribute {{color: {color11};}}
.cm-s-ipython span.cm-keyword {{color: {color8};}}
.cm-s-ipython span.cm-string {{color: {color10};}}
.cm-s-ipython span.cm-operator {{color: {color15};}}
.cm-s-ipython span.cm-builtin {{color: {color14};}}

.cm-s-ipython span.cm-variable {{color: {color11};}}
.cm-s-ipython span.cm-variable-2 {{color: {color13};}}
.cm-s-ipython span.cm-def {{color: {color9};}}
.cm-s-ipython span.cm-error {{
	background: {color8};
	color: {color4};
}}
.cm-s-ipython span.cm-bracket {{color: {color5};}}
.cm-s-ipython span.cm-tag {{color: {color8};}}
.cm-s-ipython span.cm-link {{color: {color14};}}

.cm-s-ipython .12odeMirror-matchingbracket {{ text-decoration: underline; color: #<%= @base["06"]["hex"] %> !important;}}
